<ng-container *ngIf="rooms$ | async as Rooms; else loading4">
  <div style="z-index: 1" class="card mt-3 border-shadow container mx-auto">
    <div class="d-flex flex-row w-100 justify-content-between">
      <h2 class="m-3">Lista Sali</h2>
      <app-search-bar
        [data2]="roomsResult"
        (eventEmitter)="filter($event)"
        [key]="'name'"
      ></app-search-bar>
    </div>
    <table
      *ngIf="this.roomsResult.length != 0; else notfound"
      class="table table-hover bg-white"
    >
      <thead>
        <tr>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>#</p>
              <app-sort
                [data]="roomsResult"
                (eventEmitter)="sort($event)"
                [key]="'id'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Nume</p>
              <app-sort
                [data]="roomsResult"
                (eventEmitter)="sort($event)"
                [key]="'name'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Capacitate</p>
              <app-sort
                [data]="roomsResult"
                (eventEmitter)="sort($event)"
                [key]="'capacity'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Sala de curs</p>
              <app-sort
                [data]="roomsResult"
                (eventEmitter)="sort($event)"
                [key]="'labRoom'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">Editeaza</td>
          <td scope="row">Sterge</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of roomsResult">
          <td
            [routerLink]="['details/', item.id]"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.id }}
          </td>
          <td
            [routerLink]="['details/', item.id]"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.name }}
          </td>
          <td
            [routerLink]="['details/', item.id]"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.capacity }}
          </td>

          <td
            [routerLink]="['details/', item.id]"
            routerLinkActive="router-link-active"
            scope="row"
          >
            <i
              *ngIf="!item.labRoom"
              class="bi bi-check-circle-fill text-success"
            ></i>
            <i *ngIf="item.labRoom" class="bi bi-x-circle-fill text-danger"></i>
          </td>
          <td
            scope="row"
            [routerLink]="['update/', item.id]"
            routerLinkActive="router-link-active"
          >
            <i class="bi bi-pencil-fill text-primary"></i>
          </td>
          <td scope="row">
            <i
              (click)="delete(item.id)"
              class="bi bi-trash3-fill text-danger"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #notfound>
      <h1>Not Found</h1>
    </ng-template>
  </div>
  <div class="container m-5 d-flex justify-content-end">
    <button
      class="btn btn-success"
      [routerLink]="['create']"
      routerLinkActive="router-link-active"
    >
      Creaza Sala
    </button>
  </div>
</ng-container>
<ng-template #loading4>
  <app-spinner></app-spinner>
</ng-template>
