<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <ng-container
      *ngIf="isLogged$ | async"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav navbar-expand-lg">
        <li class="nav-item">
          <a
            *ngIf="
              logged.userRole == '0' ||
              logged.userRole == '1' ||
              logged.userRole == '2'
            "
            class="nav-link text-success"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="logged.userRole === '0'"
            class="nav-link text-success"
            routerLink="/rezervari"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Rezervari</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="logged.userRole === '0'"
            class="nav-link text-success"
            routerLink="/materii"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Materii</a
          >
        </li>

        <a
          *ngIf="logged.userRole === '0' || logged.userRole == '2'"
          class="nav-link text-success"
          routerLink="/roluri"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ logged.userRole === "0" ? "Roluri" : "Profil" }}</a
        >
        <li class="nav-item">
          <a
            *ngIf="logged.userRole === '0'"
            class="nav-link text-success"
            routerLink="/add-room"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Sali</a
          >
        </li>
      </ul>
    </ng-container>
    <div class="navbar">
      <ul class="navbar-nav navbar-expand-lg">
        <li class="nav-item">
          <button class="btn btn-success" (click)="logout()">
            {{ logged.isLoggedIn ? "Logout" : "Login" }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
