<ng-container *ngIf="cereri$ | async as cereri; else loading4">
  <div style="z-index: 1" class="card mt-3 border-shadow container mx-auto">
    <div class="d-flex flex-row w-100 justify-content-between">
      <h2 class="m-3">Lista Conturi</h2>
      <app-search-bar
        [data2]="cereriResult"
        (eventEmitter)="filter($event)"
        [key]="'name'"
      ></app-search-bar>
    </div>
    <table
      *ngIf="this.cereriResult.length != 0; else notfound"
      class="table table-hover bg-white"
    >
      <thead>
        <tr>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>#</p>
              <app-sort
                [data]="cereriResult"
                (eventEmitter)="sort($event)"
                [key]="'id'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Email</p>
              <app-sort
                [data]="cereriResult"
                (eventEmitter)="sort($event)"
                [key]="'email'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Nume</p>
              <app-sort
                [data]="cereriResult"
                (eventEmitter)="sort($event)"
                [key]="'name'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Mesaj</p>
              <app-sort
                [data]="cereriResult"
                (eventEmitter)="sort($event)"
                [key]="'cerere'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Status</p>
              <app-sort
                [data]="cereriResult"
                (eventEmitter)="sort($event)"
                [key]="'requestState'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">Sterge</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cereriResult">
          <td
            [routerLink]="role !== '0' ? ['details/', item.id] : ['./']"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.id }}
          </td>
          <td
            [routerLink]="role !== '0' ? ['details/', item.id] : ['./']"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.email }}
          </td>
          <td
            [routerLink]="role !== '0' ? ['details/', item.id] : ['./']"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.name }}
          </td>

          <td
            [routerLink]="role !== '0' ? ['details/', item.id] : ['./']"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.cerere }}
          </td>
          <td
            *ngIf="role !== '0'"
            [routerLink]="role !== '0' ? ['details/', item.id] : ['./']"
            routerLinkActive="router-link-active"
            scope="row"
          >
            <i
              *ngIf="item.requestState === 1"
              class="text-success m-1 bi bi-check-circle-fill"
            ></i>
            <i
              *ngIf="item.requestState === 2"
              class="text-danger m-1 bi bi-x-circle-fill"
            ></i>

            <i
              *ngIf="item.requestState === 0"
              class="text-info bi bi-hourglass-split"
            ></i>
          </td>
          <td
            *ngIf="role === '0' && item.requestState !== 0"
            [routerLink]="role !== '0' ? ['details/', item.id] : ['./']"
            routerLinkActive="router-link-active"
            scope="row"
          >
            <i
              *ngIf="item.requestState === 1"
              class="text-success m-1 bi bi-check-circle-fill"
            ></i>
            <i
              *ngIf="item.requestState === 2"
              class="text-danger m-1 bi bi-x-circle-fill"
            ></i>
          </td>

          <td *ngIf="role === '0' && item.requestState === 0" scope="row">
            <span>Accepta/Respinge: </span>
            <i
              (click)="
                updateStatus(1, item.id, item.name, item.email, item.cerere)
              "
              class="text-success m-1 bi bi-check-circle-fill"
            ></i>
            <i
              (click)="
                updateStatus(2, item.id, item.name, item.email, item.cerere)
              "
              class="text-danger m-1 bi bi-x-circle-fill"
            ></i>
          </td>
          <td scope="row">
            <i
              (click)="delete(item.id)"
              class="bi bi-trash3-fill text-danger"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #notfound>
      <h1>Not Found</h1>
    </ng-template>
  </div>
</ng-container>
<ng-template #loading4>
  <app-spinner></app-spinner>
</ng-template>
