<div
  style="
    max-width: 500px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  "
>
  <div style="width: 100%; margin: 100px 50px">
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          [ngClass]="{
            'bg-success text-light': route.url === '/login',
            ' text-success': route.url !== '/login'
          }"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          class="nav-link"
          id="tab-login"
          data-mdb-toggle="pill"
          href="#pills-login"
          role="tab"
          aria-controls="pills-login"
          aria-selected="true"
        >
          Login
        </a>
      </li>

      <li class="nav-item" role="presentation">
        <a
          [ngClass]="{
            'bg-success text-light': route.url === '/register',
            ' text-success': route.url !== '/register'
          }"
          [routerLink]="['/register']"
          routerLinkActive="router-link-active"
          class="nav-link"
          id="tab-register"
          data-mdb-toggle="pill"
          href="#pills-register"
          role="tab"
          aria-controls="pills-register"
          aria-selected="false"
          >Register</a
        >
      </li>
    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div style="width: 100%" class="tab-content">
      <div
        *ngIf="route.url === '/login'"
        class="tab-pane fade"
        id="pills-login"
        role="tabpanel"
        aria-labelledby="tab-login"
        [ngClass]="{ 'active show': route.url === '/login' }"
      >
        <form [formGroup]="form" (ngSubmit)="onRegister(form)">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              placeholder="Email"
              type="email"
              id="loginName"
              class="form-control"
              formControlName="email"
            />
            <div *ngIf="form.get('email').invalid && submitted">
              <div
                class="text-danger"
                *ngIf="form.get('email').hasError('required')"
              >
                Emailul este obligatoriu!
              </div>
              <div
                class="text-danger"
                *ngIf="form.get('email').hasError('email')"
              >
                Email format is not valid!
              </div>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input
              placeholder="Password"
              type="password"
              id="loginPassword"
              class="form-control"
              formControlName="password"
            />
            <div *ngIf="form.get('password').invalid && submitted">
              <div
                class="text-danger"
                *ngIf="form.get('password').hasError('required')"
              >
                Parola este obligatorie
              </div>
              <div
                class="text-danger"
                *ngIf="form.get('password').hasError('minlength')"
              >
                Parola trebuie sa aiba macar 4 caractere!
              </div>
            </div>
          </div>

          <!-- 2 column grid layout -->
          <div class="row mb-4">
            <div class="col-md-6 d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check mb-3 mb-md-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="loginCheck"
                  checked
                />
                <label class="form-check-label" for="loginCheck">
                  Remember me
                </label>
              </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>

          <!-- Submit button -->
          <button
            type="submit"
            style="min-width: 125px; height: 50px"
            class="btn btn-success btn-block mb-4"
          >
            Sign in
          </button>

          <!-- Register buttons -->
          <div *ngIf="this.route" class="text-center text-success">
            <p>Not a member? <a href="#!">Register</a></p>
          </div>
        </form>
      </div>
      <div
        *ngIf="route.url === '/register'"
        [ngClass]="{ 'active show': route.url === '/register' }"
        class="tab-pane fade"
        id="pills-register"
        role="tabpanel"
        aria-labelledby="tab-register"
      >
        <form [formGroup]="form" (ngSubmit)="onRegister(form)">
          <!-- Name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerName">Name</label>
            <input
              type="text"
              id="registerName"
              formControlName="name"
              class="form-control"
            />
            <div *ngIf="form.get('name').invalid && submitted">
              <div
                class="text-danger"
                *ngIf="form.get('name').hasError('required')"
              >
                Numele este obligatorie
              </div>
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerEmail">Email</label>
            <input
              type="email"
              id="registerEmail"
              formControlName="email"
              class="form-control"
            />
            <div *ngIf="form.get('password').invalid && submitted">
              <div
                class="text-danger"
                *ngIf="form.get('password').hasError('required')"
              >
                Emailul este obligatorie
              </div>

              <div
                class="text-danger"
                *ngIf="form.get('email').hasError('email')"
              >
                Email format is not valid!
              </div>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerPassword">Password</label>
            <input
              type="password"
              formControlName="password"
              id="registerPassword"
              class="form-control"
            />

            <div *ngIf="form.get('password').invalid && submitted">
              <div
                class="text-danger"
                *ngIf="form.get('password').hasError('required')"
              >
                Parola este obligatorie
              </div>
              <div
                class="field-message text-danger"
                *ngIf="form.get('password').hasError('passwordStrength')"
              >
                Parola trebuie sa contina caractere majuscule ,minuscule si
                numerere!
              </div>
              <div
                class="text-danger"
                *ngIf="form.get('email').hasError('email')"
              >
                Formatul parolei nu este valid.
              </div>
            </div>
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="registerCheck"
              checked
              aria-describedby="registerCheckHelpText"
            />
            <label class="form-check-label" for="registerCheck">
              I have read and agree to the terms
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-success btn-block mb-3">
            Sign in
          </button>
        </form>
      </div>
    </div>
    <!-- Pills content -->
  </div>
</div>
