.rowNull{
  height: 41.33px !important;

}

.rowNothing{
  height: 41.33px !important;


}
.LabGroups{
  height: 41.33px !important;

  width:100%;
}
.LabGroupsTogheter{
  height: 41.33px !important;
  width:200%;
}
.LabNotTogheter{
  height: 41.33px !important;
  width:100%;
}
.cellNothing{
  height: 41.33px !important;

  width:100%;

}




