.rowNull{
  height: 42.5px !important;


}

.rowNothing{
  height: 42.5px !important;
}
.LabGroups{
  height: 42.5px !important;
  width:100%;
}
.LabGroupsTogheter{
  height: 42.5px !important;
  width:200%;
}
.LabNotTogheter{
  height: 42.5px !important;
  width:100%;
}
.cellNothing{
  height: 42.5px !important;
  width:100%;
}




