<table class="table mt-4">
  <tbody *ngFor="let itemDays of this.subgroup.days; index as i">
    <tr *ngFor="let itemAppointments of itemDays.appointments; index as j">
      <div
        *ngIf="
          itemAppointments !== null && itemAppointments.IsLab;
          else isCourse
        "
      >
        <div
          *ngIf="
            itemAppointments !== null &&
            itemAppointments.timeSlotsUsed !== null &&
            itemAppointments.timeSlotsUsed === 2
          "
          [ngClass]="itemAppointments.IsLab ? 'border border-success' : ''"
          class="timeSlot2 text-center"
        ></div>

        <div
          *ngIf="
            itemAppointments !== null &&
            itemAppointments.timeSlotsUsed !== null &&
            itemAppointments.timeSlotsUsed === 3
          "
          [ngClass]="itemAppointments.IsLab ? 'border border-success' : ''"
          class="timeSlot3"
        >
          <p>something</p>
        </div>
        <div class="timeSlot1" *ngIf="this.itemAppointments == null"></div>
      </div>
    </tr>
  </tbody>
</table>
