<div
  *ngIf="item !== null && item !== undefined"
  class="border bg-dark border-bottom-0 border-light d-flex flex-column justify-content-around text-light"
>
  <div [ngClass]="isOdd(item.isOnParity)" class="badge">
    {{ isTextOdd(item.isOnParity) }}
  </div>
  <div class="text-center font-small d-flex flex-row justify-content-around">
    <div class="text-center tran font-small d-flex flex-column">
      <div class="text-center font-small">
        {{ item.subjectName }}
      </div>
      <div *ngIf="!item.isLab" class="text-center font-small">(curs)</div>
    </div>
    <div class="text-center d-flex flex-column tran font-small">
      <div class="text-center font-small">
        {{ item.roomName }}
      </div>
      <div class="text-center font-small">Prof. {{ item.teacherName }}</div>
    </div>
  </div>
</div>
<div *ngIf="item === null" class="border border-dark w-100 h-100"></div>
<div *ngIf="item === undefined" class="w-100 h-100 bg-dark"></div>
