<ng-container
  class="d-flex justify-content-center align-items-center"
  *ngIf="schedule | async as schedule; else newDeb"
>
  <div class="d-flex">
    <div class="d-flex flex-row m-3">
      <button
        class="btn btn-success m-3"
        *ngFor="let item of scheduleResult"
        (click)="onChangeSerieSelect(item.id)"
        [disabled]="selectedSerie === item.id"
      >
        {{ item.name }}
      </button>
    </div>
  </div>
  <div class="d-flex flex-row mt-5" *ngIf="this.showSerie">
    <div class="d-flex flex-column ms-x3">
      <div style="height: 50px">
        <h5>Days</h5>
      </div>
      <div style="height: 70px"></div>
      <div
        style="height: 408px; width: 130px; margin-top: -1.5px"
        class="border 2px success text-center d-flex justify-content-between"
        *ngFor="let item of days"
      >
        <div
          class="text-center d-flex justify-content-center align-items-center"
        >
          <p>{{ item }}</p>
        </div>
        <div class="d-flex flex-column">
          <div
            style="width: 50px"
            class="border 2px success cell text-center d-flex justify-content-center align-self-end"
            *ngFor="let item of hours"
          >
            <p>{{ item }}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let item of this.showSerie.groups"
      class="d-flex flex-row flex-grow border-right-5"
      style="border-right: 1px solid green"
    >
      <app-group [groups]="item"></app-group>
    </div>
  </div>
</ng-container>
<ng-template #newDeb>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
