.cellNothing{
  height: 41.33px !important;
  width:25% !important;

}
.rowNull{
  height: 41.33px !important;
}
.rowNothing{
  height: 0px !important;
}
.cellLab1{
  height: 82.66px !important;


}
.cellLab2{
  height: 123.99px !important;


}
.cellCourse1{
  height: 123.99px !important;


}
.cellCourse2{
  height: 41.33px !important;

}


.table1{
  display:grid;
  grid-auto-flow: row;
  height: 497.67px;


}
.marginNegative{
  margin-top: -2px;
}
