<div class="d-flex">
  <div class="d-flex flex-row m-3">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Selectare serii</a>
        </div>
        <div class="d-flex flex-row">
          <select
            (change)="onChangeSerieSelect($event)"
            class="form-select"
            aria-label="Default select example"
          >
            <option value="" disabled selected="selected">
              Seleacteaza Serie
            </option>
            <option *ngFor="let item of serie" [ngValue]="item">
              {{ item }}
            </option>
          </select>
        </div>
      </div>
    </nav>
  </div>
</div>
<ng-container
  class="d-flex justify-content-center align-items-center"
  *ngIf="schedule | async as schedule; else newDeb"
>
  <div class="d-flex flex-row mt-5" *ngIf="this.scheduleResult">
    <div class="d-flex flex-column ms-x3">
      <div style="height: 50px">
        <h5>Days</h5>
      </div>
      <div style="height: 70px"></div>
      <div
        style="height: 497.5px; width: 130px"
        class="border 2px success text-center d-flex justify-content-between"
        *ngFor="let item of days"
      >
        <div
          class="text-center d-flex justify-content-center align-items-center"
        >
          <p>{{ item }}</p>
        </div>
        <div class="d-flex flex-column">
          <div
            style="width: 50px"
            class="border 2px success text-center d-flex justify-content-center align-self-end"
            *ngFor="let item of hours"
          >
            <p>{{ item }}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-grow border-right-5"
      style="height: 100%; width: 100%"
    >
      <div class="w-100 d-flex flex-row" style="height: 120px">
        <div
          class="text-center d-flex flex-column w-100"
          *ngFor="let item of this.scheduleResult.grupe"
        >
          <h3>{{ item.name }}</h3>

          <div class="d-flex flex-row w-100 text-center">
            <h5 class="w-100" *ngFor="let itemSub of item.subgrupe">
              {{ itemSub.name }}
            </h5>
          </div>
          <div class="text-center">
            <p>Disciplina si Sala</p>
          </div>
        </div>
      </div>
      <div *ngFor="let item of scheduleDay" class="table1">
        <app-row
          *ngFor="let itemH of item.hours; let i = index"
          [item]="itemH.appointments"
          [groupsLength]="lengthSerie"
          class="text-center d-flex w-100 justify-content-around rowNull"
        >
        </app-row>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #newDeb>
  <!-- <app-spinner></app-spinner> -->
</ng-template>
