<ng-container *ngIf="materii$ | async as Rooms; else loading4">
  <div class="d-flex flex-row w-100 justify-content-between">
    <h2>Lista Materii</h2>
    <app-search-bar
      [data2]="materiiResult"
      (eventEmitter)="filter($event)"
      [key]="'name'"
    ></app-search-bar>
  </div>
  <div style="z-index: 1" class="card mt-3 border-shadow container mx-auto">
    <table
      *ngIf="materiiResult.length > 0; else notfound"
      class="table table-hover bg-white"
    >
      <thead>
        <tr>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>#</p>
              <app-sort
                [data]="materiiResult"
                (eventEmitter)="sort($event)"
                [key]="'id'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>Nume</p>
              <app-sort
                [data]="materiiResult"
                (eventEmitter)="sort($event)"
                [key]="'name'"
              ></app-sort>
            </div>
          </td>
          <td scope="row">
            <div class="d-flex flex-row">
              <p>An Materie</p>
              <app-sort
                [data]="materiiResult"
                (eventEmitter)="sort($event)"
                [key]="'anMaterie'"
              ></app-sort>
            </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of materiiResult">
          <td
            [routerLink]="['details/', item.id]"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.id }}
          </td>
          <td
            [routerLink]="['details/', item.id]"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.name }}
          </td>
          <td
            [routerLink]="['details/', item.id]"
            routerLinkActive="router-link-active"
            scope="row"
          >
            {{ item.anMaterie }}
          </td>

          <td
            scope="row"
            [routerLink]="['update/', item.id]"
            routerLinkActive="router-link-active"
          >
            <i class="bi bi-pencil-fill text-primary"></i>
          </td>
          <td scope="row">
            <i
              (click)="delete(item.id)"
              class="bi bi-trash3-fill text-danger"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #notfound>
    <h1>Not found</h1>
  </ng-template>
  <div class="container m-5 d-flex justify-content-end">
    <button
      class="btn btn-success"
      [routerLink]="['create']"
      routerLinkActive="router-link-active"
    >
      Creaza Sala
    </button>
  </div>
</ng-container>
<ng-template #loading4>
  <app-spinner></app-spinner>
</ng-template>
